# LS
alias ls='ls -lhAGo'

# Git Repos Dir
alias grs="cd ~/git-repos"
alias dev="cd ~/dev"

# Git Aliases
alias gf='gfa -p -P'
alias gr='git_refresh_all'
alias gd='git_delete_branch $(default_branch)'
alias amend='git commit -a --amend -C HEAD --no-verify'

