# LS
alias ls='ls -lhAGo'

# Git Repos Dir
alias grs="cd ~/git-repos"

# Git Aliases
alias gf='gfa'
alias gr='git_refresh_all'
alias gd='git_delete_branch develop'
alias gdm='git_delete_branch master'
alias gds='git_delete_branch stable'
alias dev='git co -q develop'

# Banker Scala
alias banker='cd ~/git-repos/banker-scala'

