# Called to output a message when something is not as expected.
function nope {
    echo "-- Nope: $1 --"
}

# Fetches all branches and tags, as well as pruning local tags no longer present on the remote "origin"
function git_fetch_all {
    echo "Refreshing..."

    git fetch --tags --prune origin
}

# Reused function that silently checks out a branch that exists locally and updates it with the remote "origin"
function refresh_branch {
    git co -q $1

    if [[ $(git branch -r | grep -E "^  origin/$1$" -c) -gt 0 ]]; then
        echo "Updating $1..."
        git pull -q
    else
        nope "$1 does not exist remotely, moving on."
    fi
}

# Refreshes all but the current branch. Used by git_refresh_all to ensure the last branch updated is current
function git_refresh_all_but_current {
    # Refresh branches and tags, pruning as well
    git_fetch_all

    current_branch=$(current_branch)

    for branch in $(git branch | grep -v $current_branch); do
        refresh_branch $branch
    done
}

# Refreshes all branches, but saves the current one for last to leave us right back where we started, but with updated branches.
function git_refresh_all {
    current=$(current_branch)

    git_refresh_all_but_current

    refresh_branch $current
}

# Deletes the current branch, switches to a mainline provided as $1, refreshes all branches (except current), and then deletes the local copy of the current branch
function git_delete_branch {
    current=$(current_branch)

    git_refresh_all_but_current

    git co -q $1
    git branch -D $current
}
