function nope {
    echo "-- Nope: $1 --"
}

function git_fetch_all {
    echo "Refreshing..."

    git fetch --all --prune
}

function refresh_branch {
    git co -q $1

    if [[ $(git branch -r | grep -E "^  origin/$1$" | wc -l) -gt 0 ]]; then
        echo "Updating $1..."
        git pull -q
    else
        nope "$1 does not exist remotely, moving on."
    fi
}

function git_refresh_all_but_current {
    # Refresh branches and tags, pruning as well
    git_fetch_all

    current_branch=$(current_branch)

    for branch in $(git branch | grep -v $current_branch); do
        refresh_branch $branch
    done
}

function git_refresh_all {
    current=$(current_branch)

    git_refresh_all_but_current

    refresh_branch $current
}

function get_pr {
    message=$(git push -u 2>&1)

    if [ $? -eq 0 ]; then
        chrome $(git remote -v | grep '(push)' | awk '{print $2 }' | sed -E 's/.git//')"/compare/"$(current_branch)
    else
        echo $message
    fi
}

function git_delete_branch {
    current=$(current_branch)

    git_refresh_all_but_current

    git co -q $1
    git branch -D $current
}

function chrome {
  open -a "Google Chrome" $1
}
